@use 'functions' as *;
@use 'variables' as *;
@use 'media' as *;

body {
  min-height: 100vh; //fallback in case of an old browser that doesn't support svh
  min-height: 100svh;
  background-color: $navy950;
}

#cards-container {
  display: grid;
  place-content: center;
  min-height: 100vh;
  // min-height: 100svh;
  // background-color: aqua;
  // align-content: center;
  // justify-content: center;
  // align-content: center
  // align-items: center;
  // justify-items: center;
  // margin-inline: pxToRem(81);
  // margin-block: pxToRem(24);
  // margin-inline: 10vw;
  // margin-block: 20vw;
  grid-template-columns: repeat(auto-fit, minmax(pxToRem(275), auto));

  // @include media(tablet) {
  //   margin-inline: pxToRem(78);
  //   margin-block: pxToRem(174);
  // }

  gap: pxToRem(24);
  > *:not(.profile) {
    border-radius: 15px;
    display: grid;
    height: pxToRem(160);
    grid-template-rows: 1fr pxToRem(122);
    > :nth-child(2) {
      // background-color: $navy900;
      padding: pxToRem(24);
    }
  }
}

.profile {
  display: grid;
  min-height: pxToRem(203);
  grid-template-rows: pxToRem(133) 1fr;
  gap: pxToRem(24);
  background-color: $navy900;
  border-radius: 15px;
  grid-column: 1/-1;
  > div {
    display: flex;
    gap: pxToRem(24);
    background-color: $purple600;
    padding: pxToRem(32);
    border-radius: 15px;

    div {
      display: flex;
      flex-direction: column;
      gap: pxToRem(8);
    }
  }
  ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    // justify-items: center;
    text-align: center;
    justify-content: center;
    gap: pxToRem(42);
    li {
      width: 100%;
    }
    li:hover {
      cursor: pointer;
    }
  }
}

.card:not(.profile) {
  // background-color: pink;
  // border-radius: 15px;
  > :first-child {
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      opacity: 90%;
      // filter: brightness(0) saturate(100%);
      right: pxToRem(17);
      // top: -10px;
      // mask-image: linear-gradient(black 55%, transparent 50%);
    }
  }
  > :nth-child(2) {
    // display: flex;
    // justify-content: space-between;
    border-radius: 15px;
    background-color: $navy900;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    > * {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    > :first-child {
      margin-block-end: pxToRem(8);
    }
  }
}

@each $name, $value in $colors {
  //give bg color to each card
  .#{$name} {
    background-color: $value;
  }
}

// card top image

.card:nth-of-type(2) {
  > div:first-of-type {
    img {
      top: pxToRem(-10);
    }
  }
}
.card:nth-of-type(3) {
  > div:first-of-type {
    img {
      top: pxToRem(-4);
    }
  }
}

.card:nth-of-type(4) {
  > div:first-of-type {
    img {
      top: pxToRem(-9.5);
    }
  }
}

.card:nth-of-type(5) {
  > div:first-of-type {
    img {
      top: pxToRem(-2);
    }
  }
}

.card:nth-of-type(6) {
  > div:first-of-type {
    img {
      top: pxToRem(-12);
    }
  }
}
.card:nth-of-type(7) {
  > div:first-of-type {
    img {
      top: pxToRem(-11);
    }
  }
}
