@use 'functions' as *;
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@mixin text-preset-1 {
  font-family: 'Rubik', sans-serif;
  font-size: pxToRem(56);
  font-weight: 300;
  line-height: 1.1785;
  letter-spacing: 0;
}

@mixin text-preset-2 {
  font-family: 'Rubik', sans-serif;
  font-size: pxToRem(40);
  font-weight: 300;
  line-height: 1.175;
  letter-spacing: 0;
}

@mixin text-preset-3 {
  font-family: 'Rubik', sans-serif;
  font-size: pxToRem(32);
  font-weight: 300;
  line-height: 1.1875;
  letter-spacing: 0;
}

@mixin text-preset-4 {
  font-family: 'Rubik', sans-serif;
  font-size: pxToRem(24);
  font-weight: 300;
  line-height: 1.1666;
  letter-spacing: 0;
}

@mixin text-preset-5-medium {
  font-family: 'Rubik', sans-serif;
  font-size: pxToRem(18);
  font-weight: 500;
  line-height: 1.1666;
  letter-spacing: 0;
}

@mixin text-preset-5-regular {
  font-family: 'Rubik', sans-serif;
  font-size: pxToRem(18);
  font-weight: 400;
  line-height: 1.1666;
  letter-spacing: 0;
}

@mixin text-preset-6 {
  font-family: 'Rubik', sans-serif;
  font-size: pxToRem(15);
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
}
