@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-size: 1.125rem;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  background-color: hsl(226, 43%, 10%);
}

#cards-container {
  display: grid;
  place-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(17.1875rem, auto));
  gap: 1.5rem;
}
#cards-container > *:not(.profile) {
  border-radius: 15px;
  display: grid;
  height: 10rem;
  grid-template-rows: 1fr 7.625rem;
}
#cards-container > *:not(.profile) > :nth-child(2) {
  padding: 1.5rem;
}

.profile {
  display: grid;
  min-height: 12.6875rem;
  grid-template-rows: 8.3125rem 1fr;
  gap: 1.5rem;
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  grid-column: 1/-1;
}
.profile > div {
  display: flex;
  gap: 1.5rem;
  background-color: hsl(246, 80%, 60%);
  padding: 2rem;
  border-radius: 15px;
}
.profile > div div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.profile ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
  text-align: center;
  justify-content: center;
  gap: 2.625rem;
}
.profile ul li {
  width: 100%;
}
.profile ul li:hover {
  cursor: pointer;
}

.card:not(.profile) > :first-child {
  position: relative;
  overflow: hidden;
}
.card:not(.profile) > :first-child img {
  position: absolute;
  opacity: 90%;
  right: 1.0625rem;
}
.card:not(.profile) > :nth-child(2) {
  border-radius: 15px;
  background-color: hsl(235, 46%, 20%);
  margin-left: -1px;
  margin-right: -1px;
  margin-bottom: -1px;
}
.card:not(.profile) > :nth-child(2) > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card:not(.profile) > :nth-child(2) > :first-child {
  margin-block-end: 0.5rem;
}

.orange {
  background-color: hsl(15, 100%, 70%);
}

.blue {
  background-color: hsl(195, 74%, 62%);
}

.pink {
  background-color: hsl(348, 100%, 68%);
}

.green {
  background-color: hsl(145, 58%, 55%);
}

.purple {
  background-color: hsl(264, 64%, 52%);
}

.yellow {
  background-color: hsl(43, 84%, 65%);
}

.card:nth-of-type(2) > div:first-of-type img {
  top: -0.625rem;
}

.card:nth-of-type(3) > div:first-of-type img {
  top: -0.25rem;
}

.card:nth-of-type(4) > div:first-of-type img {
  top: -0.59375rem;
}

.card:nth-of-type(5) > div:first-of-type img {
  top: -0.125rem;
}

.card:nth-of-type(6) > div:first-of-type img {
  top: -0.75rem;
}

.card:nth-of-type(7) > div:first-of-type img {
  top: -0.6875rem;
}

.profile > div img {
  width: 60px;
  height: 60px;
}
.profile > div :first-child {
  font-family: "Rubik", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  color: hsl(236, 100%, 87%);
}
.profile > div :nth-child(2) {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1666;
  letter-spacing: 0;
  color: hsl(0, 100%, 100%);
}
.profile > ul {
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.1666;
  letter-spacing: 0;
  color: hsl(235, 45%, 61%);
}

.card:not(.profile) > :nth-child(2) :first-child :first-child {
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.1666;
  letter-spacing: 0;
  color: hsl(0, 100%, 100%);
}
.card:not(.profile) > :nth-child(2) :nth-child(2) :first-child {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1875;
  letter-spacing: 0;
  color: hsl(0, 100%, 100%);
}
.card:not(.profile) > :nth-child(2) :nth-child(2) :nth-child(2) {
  font-family: "Rubik", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  color: hsl(236, 100%, 87%);
}/*# sourceMappingURL=style.css.map */